/* start variables */
:root {
    --bg-color: #18191A;
    --bg-dark: #212529;
    --accent-color: #303031;
    --secondry-color: #c0b7ab;
    --hover-color: #4e4f5079;
    --accent-text-color: #e9edf3;
    --drawer-icon-color: #5781d6;
    --scrollbar-color: rgba(128, 128, 128, 0.651);
    --hr-color: #c0b7ab75;
    --main-duration: 0.4s;
}

/* end variables */

/* start global rules */
* {
    box-sizing: border-box
}

body {
    font-family: "Work Sans", sans-serif !important;
    background-color: var(--bg-color) !important;
}


.accent-bg-color {
    background-color: var(--accent-color) !important;
}

.accent-text-color {
    color: var(--accent-text-color);
}

@media (max-width: 1159px) {
    .drawer-item span {
        display: none !important;
    }

    .drawer-item {
        padding: 10px !important;
    }

    .contacts-aside {
        display: none !important;
    }

}

@media (min-width: 1160px) {
    .drawer-item span {
        display: inline !important;
    }

    .contacts-aside {
        display: block !important;
    }

}

/* start scroll bar */
/* width */
.side-scrollbar::-webkit-scrollbar {
    width: 8px;
}

/* Handle */
.side-scrollbar::-webkit-scrollbar-thumb {
    visibility: hidden;
    background: gray;
    border-radius: 10px;
}

/* Handle on hover */
.side-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color);
    visibility: visible;
}

.side-scrollbar:hover::-webkit-scrollbar-thumb {
    background: -var(--scrollbar-color);
    visibility: visible;
}


/* end scroll bar */


/* end global rules */

/* start header */
.logo {
    color: #ebeced;
    text-align: center;
    font-weight: 800px;
    letter-spacing: -1px;
    margin: 0;
}

.nav-bottom {
    border-bottom: 2px double var(--accent-color);
}


.search {
    position: relative;
    /* max-width: 500px; */
    margin: 0 auto;
}

.search input {
    color: white !important;
    padding-left: 15px;
    height: 40px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.search input:hover {
    background-color: var(--hover-color) !important;
    transition: var(--main-duration);
}

.search .fa-magnifying-glass {
    padding-left: 10px;
    color: var(--accent-text-color);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 16px;
}

.nav-icon {
    margin: 0 3px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: var(--accent-color);
    cursor: pointer;
}

.nav-icon:last-child {
    margin-right: 20px;
    padding: 0;
}

.nav-icon:hover {
    background-color: var(--hover-color);
    transition: var(--main-duration);
}

/* end header */

/* start drawer */
.drawer {
    /* height: calc(100vh - 70px); */
    max-width: 360px;
    overflow-y: auto;
}

.drawer-item {
    border-radius: 5px;
    padding: 8px 18px;
}



.drawer-item:hover {
    cursor: pointer;
    background-color: var(--hover-color);
    transition: var(--main-duration);
}

.drawer-item img {
    color: var(--drawer-icon-color);
    width: 22px;
    height: 22px;
    border-radius: 50px;
}

.drawer-item i {
    color: var(--drawer-icon-color);
    width: 20px;
    height: 20px;
}

.drawer-item span {
    color: var(--accent-text-color);
    letter-spacing: -1px;
    font-weight: 500px;
    padding-left: 10px;
}

.hr-drawer {
    margin: 8px;
    height: 2px;
    color: var(--hr-color);
}

.footer span {
    color: var(--secondry-color);
    font-size: smaller;
}

.footer a {
    color: var(--secondry-color);
    text-decoration: none;
    font-size: smaller;
}

.footer a:hover {
    color: var(--secondry-color);
    text-decoration: underline;
}

/* end drawer */

/* start aside */
.float-button {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 40px;
    background-color: var(--accent-color);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
}

.float-button:hover {
    background-color: var(--scrollbar-color);
    color: #FFF;
}

.floating-icon {
    margin-top: 12px;
}

.contacts-aside {
    /* height: calc(100vh - 60px); */
    overflow-y: auto;
    max-width: 360px;

}

.contact-head-icon {
    margin: 0 3px;
    border-radius: 100%;
    padding: 7px;
    font-size: 14px;
    color: var(--secondry-color);
    cursor: pointer;
}

.contact-head-icon:hover {
    background-color: var(--hover-color);
    transition: var(--main-duration);
}

.contacts-aside .d-flex span:first-child {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.747);
}

.contact-item {
    border-radius: 5px;
    padding: 8px 10px;
}

.contact-item:hover {
    cursor: pointer;
    background-color: var(--hover-color);
    transition: var(--main-duration);
}

.contact-item img {
    border-radius: 50%;
    color: var(--drawer-icon-color);
    width: 25px;
    height: 25px;
    object-fit: cover;
}

/* end aside */

/* start timeline */
.mainwrapper {
    overflow: auto;
    max-width: 680px !important;
    min-width: 423px !important;
    margin: 20px auto;
}

/* start card stories */
.stories-card {
    min-width: 423px;

    margin: 0 auto;
}

.card {
    margin: 5px;
    background-color: transparent !important;
    overflow: hidden;
}

.add-story-footer {
    height: 65px;
    background-color: var(--bg-dark) !important;
}

.add-story-footer p {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
}

.add-story {
    position: absolute;
    bottom: 32px;
    left: calc(50% - 15px);
    border: 3px solid var(--bg-dark) !important;
    border-radius: 100%;
}

.card-img {
    min-width: 130px;
    max-width: 130px;
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    /* margin: 5px; */
}

.card-title-position {
    display: inline-block;
    /* width: 80%;
    height: 50px; */
    position: absolute;
    bottom: 0;
    left: 5px;
    padding: 10px;
}

.card:hover {
    /* transform: scale(1.005); */
    cursor: pointer;
    /* transition: var(--main-duration); */
}

/* end card stories */

/* add post */
.add-post {
    background-color: var(--bg-dark);
    border-radius: 8px;
    /* max-width: 492px; */
    padding: 15px;
    margin: 0 auto;
}

.post-options {
    padding: 10px;
    border-radius: 5px;
    color: #000;
}

.post-options i {
    margin-right: 10px;
    font-size: 20px !important;
}

.post-options .fa-video {
    color: #F23E5C;
}

.post-options .fa-images {
    color: #58C472;
}

.post-options .fa-face-laugh {
    color: #F8C03E;
}

.post-options span {
    color: var(--secondry-color);
}

.post-options:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

/* end post */
.post-header-icon {
    padding: 10px 12px 6px 12px;
}

.post-header-icon:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.posts h6 {
    color: white;
    cursor: pointer;
    margin: 0;
}

.posts i {
    font-size: 12px;
}

.posts h6:hover {
    text-decoration: underline;
}

.posts .flex-column span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.post-action {
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}

.post-action:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}


/* end timeline */